
<h1> Edit or delete <%= link_to @prompt.title, prompt_path(@prompt), class: 'welcome_text' %> </h1>

<div class ="main_image" style = "background-image: url(<%= @prompt.img_url %>)">

</div>

<br>

<%= form_for [@prompt] do |f| %>

  <%= f.label "Edit title" %>:<br>
  <%= f.text_field :title %><br><br>

  <div class ="create_prompt">

  <%= f.label "Edit prompt" %>:<br>
  <%= f.text_area :prompt %><br><br>

  </div>

  <%= f.label "Edit image URL" %>:<br>
  <%= f.text_field :img_url %><br><br>

  <%= f.submit %>

<% end %>

  <br>

  <%= form_for [@prompt], method: :delete do |f| %>

    <%= f.submit "Delete this prompt", class: 'button'%>

  <% end %>
