<h1> Make a new prompt </h1>

<%= form_for [@prompt] do |f| %>

  <%= f.label "Title" %>:<br>
  <%= f.text_field :title %><br><br>

  <div class ="create_prompt">

  <%= f.label "Prompt" %>:<br>
  <%= f.text_area :prompt %><br><br>

  </div>

  <%= f.label "Image URL" %><br />(Please make sure the photo is not rights-restricted <br /> and has a URL ending with an image file format such as .jpg or .png)<br>
  <%= f.text_field :img_url %><br><br>

  <br>

  <%= f.submit %>

  <% end %>
