<h1> Entries for <%= link_to @prompt.title, prompt_path(@prompt), class: "welcome_text" %> </h1>

  <div class ="main_image" style = "background-image: url(<%= @prompt.img_url %>)">

  </div>

<% if @posts.length < 1 %>

<h3> No posts yet. <%= link_to "Be the first.", new_prompt_post_path(@prompt) %> </h3>

<% else %>

<% @posts.each do |post| %>

<div class ="all_post_links">

      <div class="post_text">

        <h3><%= post.title.upcase %></h3>

        <p><%= post.body %></p>

        <div class ="votes">

        <p class ="published_at"> Published by <%= post.user.email %> at <%= post.created_at %></p>
        <%# Try to stay away from inline styling (when possible). Instead think about how you could
        apply this styling via classes or selector rules in your stylesheets %>
        <p style ="font-size: 10"> <%= link_to "Comment on this post / View comments", prompt_post_path(@prompt, post), class: "welcome_text" %></p>
        <p style ="font-size: 10"><%= link_to "Edit or delete this post", edit_prompt_post_path(@prompt, post), class: "welcome_text" %></p>

        <%= link_to like_post_path(post), class: 'like', method: :put do %>
          <%= image_tag "upvote.png"%><h4 style="margin-top: -1%; margin-bottom: -.5%"><%= post.get_upvotes.size %></h4>
        <% end %>


        <%= link_to unlike_post_path(post), class: 'like', method: :put do %>
        <%= image_tag "downvote.png" %><h4 style="margin-top: -1%"><%= post.get_downvotes.size %></h4>
        <% end %>
      </div>

      </div>

    </div>
    <% end  %>
<!-- </div> -->
<% end %>
