<h1> Entries for <%= link_to @prompt.title, prompt_path(@prompt), class: "welcome_text" %> </h1>

  <div class ="main_image" style = "background-image: url(<%= @prompt.img_url %>)">

  </div>


<% @posts.each do |post| %>

<div class ="all_post_links">

    <div class="upvote" style="float: left; margin-top: 5%; margin-left: 5%">

    <%= link_to like_post_path(post), class: 'like', method: :put do %>
    <%= image_tag "upvote.png"%><h2><%= post.get_upvotes.size %></h2>
    <% end %>

    </div>

    <div class="downvote" style="float: right; margin-top: 5%; margin-right: 5%">

      <%= link_to unlike_post_path(post), class: 'like', method: :put do %>
      <%= image_tag "downvote.png"%><h2><%= post.get_downvotes.size %></h2>
      <% end %>

    </div>

    <div class="post_title_body2" style="background-image: url(<%= @prompt.img_url %>); background-size: cover; margin-top: 15px">

      <div class="post_text">

        <h3><%= post.title.upcase %></h3>

        <p><%= post.body %></p>

        <p class ="published_at"> Published by <%= post.user.email %> at <%= post.created_at %></p>

        <p style ="font-size: 10"> <%= link_to "Comment on this post / View comments", prompt_post_path(@prompt, post), class: "welcome_text" %></p>
        <p style ="font-size: 10"><%= link_to "Edit or delete this post", edit_prompt_post_path(@prompt, post), class: "welcome_text" %></p>

        <% @count+=1 %>

      </div>

    </div>

</div>

<% end %>
