<h1> Here's your prompt: <%= @prompt.title %> </h1>

<div class ="main_image" style = "background-image: url(<%= @prompt.img_url %>)">

</div>

<h3> <%= @prompt.prompt %> </h3>



<%= form_for [@prompt, @post] do |f| %>

  <%= f.label :title %>:<br><br>
  <%= f.text_field :title %>

  <br><br>

<div class ="comment_text">

  <%= f.label :body %>:<br><br>
  <%= f.text_area :body%>

</div>

  <br><br>

  <%= f.submit %>

<% end %>
