<h2> Comment on this post for "<%= @prompt.title %>" </h2>

<div class="post_title_body" style="background-image: url(<%= @prompt.img_url %>)">

  <div class="post_text">

    <h3><%= @post.title.upcase %></h3>

    <p><%= @post.body %></p>

    <p class ="published_at"> Published at: <%= @post.created_at %></p>

  </div>

</div>

  <br>

    <div class ="comment">

      <%= link_to "Post new comment", new_post_comment_path(@post) %>

    </div>
