<!DOCTYPE html>
<html>
  <head>
    <title>Promptly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <footer>
      <nav class ="footer">
        <div class ="foot_text">
          <h3>WHERE TO?</h3>
            <ul>
              <li><h4><%= link_to "Home", root_path %> </h4></li>
              <li><h4> <%= link_to "All Prompts", prompts_path %> <h4></li>
              <li><h4> <%= link_to "Create a new prompt", new_prompt_path %> <h4></li>
            </ul>
        <div>
      </nav>
    </footer>
  </body>
</html>
