<!DOCTYPE html>
<html>
  <head>
    <title>Promptly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <header>
            <h3><%= link_to "Home", root_path %> </h3>
            <h3> <%= link_to "All Prompts", prompts_path %> </h3>
            <h3> <%= link_to "Create a new prompt", new_prompt_path %> </h3>
        </header>
    <div class="page_wrap">
      <%= yield %>
    </div>
  </body>
</html>
